{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient's Doctor Log</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class = 'navbar-fixed'>
        <nav>
            <div class = 'nav-wrapper'>
                <ul>
                    <li><a href = "/" class = "left brand-logo">Patient | Doctor Log</a></li>
                </ul>
                <ul class = "right">
                    <li><a href = "{% url 'patients' %}">Patient's List</a></li>
                    <li><a href = "{% url 'patient-create' %}">Add a Patient</a></li>
                    <li><a href = "{% url 'doctors' %}">Doctor's List</a></li>
                    <li><a href = "{% url 'doctor-create' %}">Add a Doctor</a></li>
                    <li><a href = "{% url 'medicine' %}">Medicine List</a></li>
                    <li><a href = "{% url 'medicine-create' %}">Add a Medication</a></li>

                </ul>
            </div>
        </nav>
    </header>
    <main class = "container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class = "page-footer"> All Rights Reserved, &copy; 2021 Michael's Patient & Doctor Log for Michael Codes</footer>
</body>
</html>